# {{ ansible_managed }}
#  ======================== Elasticsearch Configuration =========================

# ---------------------------------    Cluster Name   -------------------------
{% if cluster_name is defined %}
cluster.name: "{{ cluster_name }}"
{% else %}
cluster.name: "{{ cluster_name }}"
{% endif %}
# ---------------------------------- Network -----------------------------------
#
# Set the bind address to a specific IP (IPv4 or IPv6):
#
{% if network_host is defined %}
network.host: {{ network_host }}
{% else %}
network.host: 0.0.0.0
{% endif %}

# Set a custom port for HTTP:
{% if http_port is defined %}
http.port: {{ http_port }}
{% else %} 
http.port: 9200
{% endif %}
# ------------------------------------ Node ------------------------------------
#
{% if character is defined %}
{% if character == "master" %}
node.name: MASTER-{{ node_name }}
node.master: true
node.data: false
node.ingest: false
{% endif %}
{% if character == "data" %}
node.name: DATA-{{ node_name }}
node.master: false
node.data: true
node.ingest: false
{% if path_data is defined %}
path.data:
{% for data_path in path_data %}
  - {{ data_path }}
{% endfor %}
{% else %}
  - /var/lib/elasticsearch
{% endif %}
{% if node_class is defined %}
node.attr.rack: {{ node_class }}
{% endif %}
{% endif %}
{% if character == "client" %}
node.name: CLIENT-{{ node_name }}
node.master: false
node.data: false
node.ingest: false
{% endif %}
{% endif %}

# --------------------------------- Discovery ----------------------------------
# Pass an initial list of hosts to perform discovery when this node is started:
discovery.zen.ping.unicast.hosts: {{ discovery_zen_ping_unicast_hosts}}
discovery.zen.minimum_master_nodes: {{ discovery_zen_minimum_master_nodes }}
action.destructive_requires_name: true
bootstrap.memory_lock: true
path.logs: /var/log/elasticsearch


