# {{ ansible_managed }}
#  ======================== Elasticsearch Configuration =========================

# ---------------------------------    Cluster Name   -------------------------

{% if cluster_name is defined %}
cluster.name: "{{ cluster_name }}"
{% else %}
cluster.name: "{{ cluster_name }}"
{% endif %}


# ---------------------------------- Network -----------------------------------
#
# Set the bind address to a specific IP (IPv4 or IPv6):
#
{% if network_host is defined %}
network.host: {{ network_host }}
{% else %}
network.host: 0.0.0.0
{% endif %}


# Set a custom port for HTTP:
{% if http_port is defined %}
http.port: {{ http_port }}
{% else %} 
http.port: 9200
{% endif %}


# ------------------------------------ Node ------------------------------------
#
{% if character is defined %}
  {% if character == "master" %}
node.name: MASTER-{{ character }}
node.master: true
node.data: false
node.ingest: false
  {% endif %}
  {% if character == "data" %}
node.name: DATA-{{ character }}
node.master: false
node.data: true
node.ingest: false
  {% endif %}
  {% if character == "client" %}
node.name: CLIENT-{{ character }}
node.master: false
node.data: false
node.ingest: false
  {% endif %}
{% endif %}
# --------------------------------- Defining the Node Class -------------------
{% if character is defined %}
  {% if node_class is defined %}
    {% if character == "data" %}
node.attr.rack: {{ node_class }}       
    {% endif %}
  {% endif %}
{% endif %}
#
#node.attr.rack: r1
#




